.insights{
    background-color: #fff;
    margin: 80px auto;
    width: 90%;
    text-align: center;

    .title{
        text-align: center;
        color: #212EA0;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 70px 0 30px;

        h2{
            font-size: 35px;
            color: #000F38;
            margin-top: 5px;
            text-transform: none;
        }
        p{
            font-size: 20px;
        }
    }
    .gallery{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        img{
            width: 23%;
            height: 260px;
            border-radius: 10px;
            margin: 20px;
        }
    }
    .btn{
        background-color: rgb(110, 18, 230);
        color: #fff;
        padding: 14px 25px;
        font-size: 20px;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        span{
            overflow: hidden;
            font-size: 30px;
            display: inline;
            padding-left: 5px;
        }
    }
    .btn:hover{
        background-color: rgb(150, 78, 244);
    }
}

// media queries

@media (min-width: 768px) and (max-width: 1024px){
    .insights{
        .gallery{
            img{
                width: 23%;
                height: 190px;
                border-radius: 10px;
                margin: 20px;
            }
        }
    }
}

@media (max-width: 840px){
    .insights{
        &::-webkit-scrollbar{
            display: none;
        }
        .gallery{
            display: block;
            margin-bottom: 5px;
    
            img{
                width: 50%;
                height: 150px;
                margin: 5px;
            }
        }
        .btn{
            padding: 5px 12px;
            font-size: 15px;
    
            span{
                font-size: 25px;
            }
        }
    }
}

// for mobile
@media (max-width: 480px){
    .insights{
        .title{
            margin-top: 0;
        }
    }
}